@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');
body { background-color: #131316; 
    color: #ffffff; 
    font-family: 'Poppins', sans-serif; 
    padding: 0; margin: 0; 
} 
section { 
    display: grid; 
    place-items: center; 
    align-content: center; 
    min-height: 100vh; 
}
input{
    width: 5%;  
    height: 200%;
    border-radius: 10px;
    background-color: #131316;
    color: #FFFFFF;
    text-align: center;
}
/* CSS */
.button-27 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 17px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
